@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@300&display=swap');

body{
    background: linear-gradient(to right, #66D3FA, #3C99DC);
    
}

body *{
    font-family: 'Unbounded', cursive;
}

header{
    width: 100%;
}

#mainDiv{
    font-family: 'Montserrat', sans-serif;
}

#loginImage{
    width: 10rem;
}

#loginInfoRole{
    font-size: larger;
    font-weight: 600;
    width: 100%;
}

#userSpan{
    font-size: 14px;
    font-style: oblique;
}

#passwordSpan{
    font-size: 14px;
    font-style: oblique;
}

#rozvrh{
    
    border: 2px solid black;
    border-radius: 2px;
    overflow: hidden;
    padding: 1px;
    
}



#predmet{
    background: #4B9CD3;
    color: #ffe9e3;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}

#cas{
    background: #005A9C;
    color: #ffe9e3;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    
}
#den{
    
    color: black;
}
#ucebna{
    font-size: small;
}
#predmet span{
    margin: 0 auto;
    padding: 1px;
}

#ucitel{
    font-size: smaller;
}






