@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@300&display=swap');

body{
    background: linear-gradient(to right, #3e4a61, #393e46);
    
}

body *{
    font-family: 'Unbounded', cursive;
}

header{
    width: 100%;
}

#mainDiv{
    font-family: 'Montserrat', sans-serif;
}

#loginImage{
    width: 10rem;
}

#loginInfoRole{
    font-size: larger;
    font-weight: 600;
    width: 100%;
}

#userSpan{
    font-size: 14px;
    font-style: oblique;
}

#passwordSpan{
    font-size: 14px;
    font-style: oblique;
}

#rozvrh{
    background: linear-gradient(to right, #edc2a2, #eab995); 
    /*background: linear-gradient(to right, #66D3FA, #3C99DC); */
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
    padding: 1px;
    
}



#predmet{
    background: #4B9CD3;
    color: #ffe9e3;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}



#nahradniPredmet{
    background: #D22B2B;
    color: #ffe9e3;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}

#cas{
    background: #005A9C;
    color: #ffe9e3;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    
    
}
#den{
    color: black;
    border-radius: 5px;
    font-weight: bold;
}
#ucebna{
    font-size: 0.89vw;
}
#predmet span{
    margin: 0 auto;
    padding: 1px;
}

#ucitel{
    font-size: smaller;
}

#submit{white-space:normal; word-wrap: break-word;}

#rozvrhLabel{
    color: #ffe9e3;
}

#searchDiv{
    display: flex;
    align-items: center;
}


#searchIcon{
    z-index: 1;
    cursor: pointer;
    padding: 2px;
    margin-left: 2px;
}

#myDropdown{
    position: absolute;
    margin-left: 26px;
    margin-top: 3px;
    display: block;
    background-color: #f6f6f6;
    padding: 3px;
    z-index: 1;
    
}

#searchItem{
  text-decoration: none;
  background-color: #f6f6f6;
  display: block;
  color: black;
  min-width: 160px;
  border: 1px solid #ddd;
  z-index: 1;
}

#searchItem :hover{
    background-color: #f6f6f0;
    border: 2px solid black;
  }

#searchStuffWrapper{
    display: block;
}






